h1{

    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    font-size: 2em;
    color: #444444;
    margin-bottom: 15px;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #666666;
    margin-bottom: 15px;
}

a{
    color: #1a73e8;
    text-decoration: none;
}
