body{
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Yggdrasil.jpg");
    background: linear-gradient(to top, skyblue, blue);
    background-repeat: no repeat;
    background-attachment: fixed;
    
    }



header img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
        
h1{

    font-size: 2.5em;
    color: #c03f2e;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(88, 2, 52, 0.5);
}

h2{
    font-size: 2em;
    color: #8f1428;
    margin-bottom: 15px;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #eb3149;
    margin-bottom: 15px;
}

a{
    color: #c94730;
    text-decoration: none;
}

