.sbox{
    display: flex;
    border-radius: 12px; 
    align-items: top;
    padding-left: 10px;
    justify-content: center;
    min-height: 5vh;
    background-color: #bd5656; 

}

.box{
     background-color: #fff; 
    border-radius: 12px; 
    box-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.1), 
        0 4px 6px rgba(0, 0, 0, 0.05); 
    padding: 20px; 
    margin: 15px; 
    border: 1px solid #be5f5f; 
    max-width: 400px; 
    font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    color: #1a1a31; 
}

table{
            width: 100%;
            border-collapse: collapse;
}

table, th, td{
            border: 1px solid hsl(41, 96%, 51%);
}

th, td{
            padding: 8px;
            text-align: left;
}

nav{
            position: fixed;
            top: 20px;
            right: 20px;
            background: #cf2139;
            padding: 10px; 
            border-radius: 5px;
}

nav ul{
            padding: 34px;
}

nav ul li{
            margin: auto;
            margin-bottom: 10px;
} 

header img{
        text-align-last: center;
            border-radius: 50%;
            display: inline-block !important;
            width: 80px;
            height: 80px;
            margin: 30px auto;
            box-shadow: 2px 2px 4px rgba(145, 48, 35, 0.5);
           
}
        
h1{

    font-size: 2.5em;
    color: #3a1812;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(88, 2, 52, 0.5);
}

h2{
    font-size: 2em;
    color: #1f0409;
    margin-bottom: 15px;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #380e12;
    margin-bottom: 15px;
}

a{
    color: #c94730;
    text-decoration: none;
}

