body{
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Yggdrasil.jpg");
    background: linear-gradient(to top, rgb(182, 63, 48), rgb(209, 10, 60));
    background-repeat: no repeat;
    background-attachment: fixed;
    
}

table{
            width: 100%;
            border-collapse: collapse;
}

table, th, td{
            border: 1px solid hsl(41, 96%, 51%);
}

th, td{
            padding: 8px;
            text-align: left;
}

nav{
            position: fixed;
            top: 20px;
            right: 20px;
            background: #000808;
            padding: 10px;
            border-radius: 5px;
}

nav ul{
            padding: 34px;
}

nav ul li{
            margin: auto;
            margin-bottom: 10px;
} 

header img{
        text-align-last: center;
            border-radius: 50%;
            display: inline-block !important;
            width: 80px;
            height: 80px;
            margin: 30px auto;
            box-shadow: 2px 2px 4px rgba(145, 48, 35, 0.5);
           
}
        
h1{

    font-size: 2.5em;
    color: #140806;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(88, 2, 52, 0.5);
}

h2{
    font-size: 2em;
    color: #1f0409;
    margin-bottom: 15px;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #160507;
    margin-bottom: 15px;
}

a{
    color: #c94730;
    text-decoration: none;
}

