body{
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Yggdrasil.jpg");
    background: linear-gradient(to top, skyblue, blue);
    background-repeat: no repeat;
    background-attachment: fixed;
    
    }

header img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        
h1{

    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    font-size: 2em;
    color: #444444;
    margin-bottom: 15px;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #666666;
    margin-bottom: 15px;
}

a{
    color: #1a73e8;
    text-decoration: none;
}

